//숨김컨텐츠
.a11yHidden {
    @include a11yHidden;
}

//모든 컨텐츠에 clearfix 처럼 초기화 처리 비슷한거 하는것
body *,
body *::before,
body *::after {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
}

//반응형 이미지
img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Spoqa Han Sans", sans-serif;
    font-weight: 400;
    font-size: rem(16px);
    background-color: $default;
    color: $text;
}


/*
//테스트코드
.container {
    width: 1000px;
    @include autoMargin;
    @include boxFixed;
    background-color: yellow;
}

.header {
    background-color: pink;
    
    @include boxFull(100vw) {
        border: 1px solid #000;
    } ({}안에 내용 쓰려면 @content; 있어야 적용됨)
    
    @include boxFixed;

    @include sm {
        background-color: lime;
    }
    @include md {
        background-color: aqua;
    }
    
    @include flexbox;
}
*/