//색상
$blue:#24388d;
$green:#03CF5D;
$white:#fff;
$silverLight:#dadada;
$silver:#999;
$silverDark:#666;
$red:#ff1414;
$blackDark:#000;
$blackAlpha10:rgba(#000, 0.1);
//변수지정
$default:$white;
$primary:$green;
$secondary:$silverLight;
$text:$blackDark;
$alpha:$blackAlpha10;
$warning:$red;
$outline:$blue;